{% extends 'store/base.html' %}
{% block title %}
    Buy {{product}}
{% endblock title%}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                {% if not request.user.is_authenticated %}
                    <div id="user-info">
                        <div class="form-field">
                            <input class="form-control" type="text" name="name" id="" placeholder="Name.." required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="email" name="email" placeholder="Email.." required>
                        </div>
                    </div>
                    <hr>
                {% endif %}
                
                {% if shipping %}
                    <div id="shipping-info">
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" id="" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" id="" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" id="" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" id="" placeholder="Zip code..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="country" id="" placeholder="Country..">
                        </div>
                    </div>
                    <hr>
                {% endif %}
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>

        <div class="box-element hidden" id="payment-info">
            <p>Paypal Options</p>

            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            <div class="cart-row">
                <div class="flex-2"><img class="row-image default" src="{{product.image_url}}" alt="{{item.product}}"></div>
                <div class="flex-2"><p>{{product.name}}</p></div>
                <div class="flex-1"><p>${{product.price}}</p></div>
                <div class="flex-1"><p>x{{qty}}</p></div>
            </div>
            <h5>Total: ${{total}}</h5>
        </div>
    </div>
</div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdolZR0tFJ7-AC1eZrGAZoN0KO2ALbKwG4YHUFX-WULO71TzvnxY8W1gPxG51FbVwlHiyq_LlF-krBcN&currency=USD&disable-funding=credit"></script>

    <script>
        var total = '{{total}}'

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style:{
                color:'blue',
                height:40,
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    // alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    submitFormData()
                });
            }


        }).render('#paypal-button-container');
    </script>

    <script>
        var shipping = '{{shipping}}'

        if(shipping == 'False' && user != 'AnonymousUser'){
            document.getElementById('form-wrapper').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        }

        var form = document.getElementById('form')

        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('form submitted..')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })


        function submitFormData(){
            console.log('Payment button clicked')

            var userFormData = {
                'name': null,
                'email':null,
                'total':total
            }

            var shippingInfo = {
                'address':null,
                'city':null,
                'state':null,
                'zipcode':null,
            }

            if(shipping != 'False'){
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }

            if(user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            var url = '/process_order_now/'
            fetch(url,{
                method:'POST',
                headers: {
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
            })

            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data)
                alert('Transaction completed')

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";dommain=;path=/"
                window.location.href = "{% url 'store:index' %}"
            })
        }
    </script>
{% endblock content %}


