{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  {% for product in products %}
    <div class="col-lg-3 col-md-4 col-6 product">
      <img class="thumbnail" src="{{ product.image_url }}" alt="{{ product }}">
      <div class="box-element">
        <h6 class="product-name"><strong>{{ product.name }}</strong></h6>
        <hr>
        <h5>${{ product.price }}</h5> 
        <button data-product="{{product.id}}" data-action="add" class="btn btn-warning btn-block update-cart">Add to cart</button>
        <a class="btn btn-success btn-block" href="{% url 'store:view' product.id %}">View</a>
      </div>
    </div>
  {% empty %}
    <h3>Nothing here!</h3>
  {% endfor %}
</div>
{% endblock content %}