{% extends 'store/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <h3>{{product}}</h3>
            <img class="thumbnail" src="{{product.image_url}}" alt="">
            <div class="view-buttons">
                <button data-product="{{product.id}}" data-action="add" class="btn btn-warning update-cart">Add to cart</button>
                <button class="btn btn-success">Buy now</button>
            </div>   
        </div>
        <div class="col">
            <h5>About this item</h5>
            <p>{{ product.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {% if request.user.is_authenticated %}
                <h3>Write a review</h3>
                <form action="{% url 'store:view' product.id %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <!-- <div class="form-group">
                        <textarea class="form-control" name="" id="" rows="6"></textarea>
                    </div> -->
                    
                    <button class="btn btn-primary right">Submit</button>
                </form>
            {% else %}
                Sign-In to write a review for this product. <a href="{% url 'users:login' %}">Here</a>
            {% endif %} 
        </div>
        <div class="col">
            <h3>Customer reviews</h3>
            <p>{{ reviews_count }} reviews</p>
            {% for review in reviews %}
                {{ review.reviewer }}
                <small>{{ review.date_added }}</small>
                <p>{{ review.review }}</p>
            {% empty %}
                No reviews yet for this item.
            {% endfor %}
        </div>
    </div>
    
{% endblock %}