{% extends 'store/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    {{product}}
{% endblock title%}

{% block content %}
    <div class="row">
        <div class="col-5 col-sm-4 col-md-3 col-lg-3">
            <h4>{{product}}</h5>
            <img class="thumbnail thumbnail-view" src="{{product.image_url}}" alt="">
        </div>
        <div class="col-7 col-sm-8 col-md-6 col-lg-7">
            <h5>About this item</h5>
            {% if product.description %}
                <p>{{ product.description }}</p>
            {% else %}
                <p>The seller hasn't provided a descrption yet for this product.</p>
            {% endif %}
        </div>
        <div class="col-11 col-sm-11 col-md box">         
            <p class="quantity">Quantity: <span id='qty'>1</span></p>
            <div class="quantity">
                <img id='add' class="chg-quantity" src="{% static 'store/images/arrow-up.png' %}" alt="arrow-up">
                <img id='remove' class="chg-quantity" src="{% static 'store/images/arrow-down.png' %}" alt="arrow-down">
            </div>
            <p>$ {{product.price}}</p>
            <button id="add-cart" data-product="{{product.id}}" class="btn btn-warning btn-block">Add to cart</button>
            <button id="buy-now" data-product="{{product.id}}" class="btn btn-success btn-block">Buy now</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 col-sm-6">
            {% if request.user.is_authenticated %}
                <h3>Write a review</h3>
                <form action="{% url 'store:view' product.id %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    
                    <button class="btn btn-primary right">Submit</button>
                </form>
            {% else %}
                Sign-In to write a review for this product. <a href="{% url 'store:login' %}">Here</a>
            {% endif %} 
        </div>
        <div class="col">   
            <h3>Customer reviews</h3>
            <p>{{ reviews_count }}</p>
            {% for review in reviews %}
                {{ review.reviewer }}
                <small>{{ review.date_added }}</small>
                <p>{{ review.review }}</p>
            {% empty %}
                No reviews yet for this item.
            {% endfor %}
        </div>
    </div>
    
    <script>
        document.querySelector('#buy-now').onclick = function(){
            const qty = document.querySelector('#qty').innerHTML
            const productId = this.dataset.product
            window.location.href = '/buy_now/' + productId + '/' + qty
        }

        document.querySelector('#add-cart').onclick = function(){
            const qty = parseInt(document.querySelector('#qty').innerHTML)
            const productId = this.dataset.product

            if(user === 'AnonymousUser'){
                if(cart[productId] == undefined){
                    cart[productId] = {'quantity': qty}
                }else{
                    cart[productId]['quantity'] += qty
                }
                document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
                location.reload()
            }else{
                updateOrder(productId, qty)
            }
        }
        

        function updateOrder(productId, qty){
            var url = '/update_item/'

            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'productId': productId, 'qty': qty})
            })

            .then((response) => {
                return response.json()
            })

            .then((data) => {
                console.log('data: ', data)
                window.location.reload()
            })
        }


        let quantity = 1;
        const qty = document.querySelector('#qty')
        document.querySelector('#add').onclick = function (){
            quantity +=1;
            qty.innerHTML = `${quantity}`;
        }
        document.querySelector('#remove').onclick = function(){
            if(quantity > 1 ){
                quantity -=1;
            }
            qty.innerHTML = `${quantity}`;
        }

    </script>
{% endblock %}