#cart-icon{
    width:25px;
    /* margin:  top right bottom left */
    margin: 10px 0px 0px 8px;
}

#cart-total{
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
    font-size: 13px; 
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.product{
    border-radius: 0px 0px 4px 4px;
}

.thumbnail{
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.price{
    float: right;
    padding-top: 5px;
}

.checkout-btn{
    float: right;
}

.cart-row{
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.row-image{
    width: 100px;
    margin-left: 20%;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.quantity{
    margin-top: -10px;
    display: inline-block;
    padding-right: 10px;
}

.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover{
    opacity: .6;
}

.form-field{
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.hidden{
    display: none!important;
}

.default{
    margin: 0px;
}

.center{
    width: 500px;
    height: 98vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.form-header a{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.form-header a:hover{
    color: rgb(87, 74, 3);
}

.form-header h3{
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* body{
        background-color: red;
    } */

    .price{
        font-size: 16px;
    }

    .row-image{
        margin-left: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* body{
        background-color: green;
    } */

    .price{
        font-size: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body{
        background-color: blue;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* body{
        background-color: yellow;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* body{
        background-color: pink;
    } */
}
