{% extends 'store/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="box-element center">
    <div class="form-header">
        <a href="{% url 'store:index' %}">Ecom</a>
        <h3>Create account</h3>
    </div>
    <hr>
    <form action="{% url 'users:register' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary btn-block" type="submit">Register</button>
    </form>
    <hr>
    Already a user? <a href="{% url 'users:login' %}">Login</a> 
</div>

<script>
    document.getElementsByTagName('nav')[0].classList.add('hidden')
</script>

{% endblock content %}